        #container{
            display: flex;
           justify-content: center;
            
            margin: auto;
        }
        #container1{
        height: 400px;
        width: 300px;
        text-align: center;
        border: 2px dotted greenyellow ;
        margin-right: 20px;
        }
        #navLinks{
            color: black;
            text-decoration: none;
        }
        #img{
        width: 100%;
        height: 210px;
        }
        #rating{
        height: 25px;
        width:40px;
        background-color: green;
        border-radius: 5px;
        color: white;
        }
        #cart{
        height: 25px;
        width :90%;
        background-color: white;
        color: green;
        border: 1px solid gray;
        }
        #cartAnchorTag{
            text-decoration: none;
            color: black;
        }
       
        #sell{
        width: 20%;
        margin-top: 100px;
        margin-right: 50px;
        
        }
        #btn{
        height:50px;
        width: 150px;
        background-color: aqua;
        color: white;
        border-radius: 10px;
        justify-content: center;
        font-weight: bold;
        border: none;
        }
        /* footer */
        /* .text-dark:link {
        text-decoration: none;
        }
        #row{
            justify-content: center;
            margin: auto;
        }

        .payment {
        display: flex;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        }
        .lpay {
        flex-basis: 45%;
        margin: 2%;
        display: flex;
        flex-direction: column;
        }
        .lpay > h4 {
        font-size: 18px;
        margin-left: 3%;
        }
        .lpay > p > img {
        width: 3%;
        margin-left: 3%;
        }
        .lpay > div > img {
        width: 12%;
        margin-left: 1%;
        }
        .lpay > div > img:nth-child(1) {
        margin-left: 3%;
        }
        .rpay {
        flex-basis: 50%;
        display: flex;
        flex-direction: row;
        }
        .rpay > div {
        margin: 2%;
        font-size: 12px;
        }
        .rpay > div > img {
        width: 38%;
        margin: 14% 0 2% 18%;
        }
        .rpay > div:nth-child(2) > img {
        width: 68%;
        margin: 22% 0 0 7%;
        }
        .rpay > div:nth-child(2) {
        margin-left: -2%;
        }
        .rpay > div:nth-child(1) {
        margin-left: 8%;
        }
        .rpay > div:nth-child(3) > img {
        width: 62%;
        margin: 24% 0 2% 22%;
        }

        .shiping {
        display: flex;
        justify-content: space-evenly;
        padding: 2%;
        text-align: center;
        border: 1px solid #ddd;
        }
        .shipright > button {
        background-color: white;
        color: #00afef;
        border: 1px solid #00afef;
        margin: 2%;
        width: 160px;
        height: 40px;
        border-radius: 5px;
        }

        #help {
        width: 100px;
        height: 0;
        padding: 20px;
        transform: rotate(-90deg);
        position: fixed;
        color: white;
        background-color: #008f00;
        margin: 22% 95%;
        border-radius: 5px;
        }
        /*  */
        .MultiCarousel {
        float: left;
        overflow: hidden;
        padding: 15px;
        width: 100%;
        position: relative;
        }
        .MultiCarousel .MultiCarousel-inner {
        transition: 1s ease all;
        float: left;
        }
        .MultiCarousel .MultiCarousel-inner .item {
        float: left;
        }
        .MultiCarousel .MultiCarousel-inner .item > div {
        text-align: center;
        padding: 10px;
        margin: 10px;
        background: #f1f1f1;
        color: #666;
        }
        .MultiCarousel .leftLst,
        .MultiCarousel .rightLst {
        position: absolute;
        border-radius: 50%;
        top: calc(50% - 20px);
        }
        .MultiCarousel .leftLst {
        left: 0;
        }
        .MultiCarousel .rightLst {
        right: 0;
        }

        .MultiCarousel .leftLst.over,
        .MultiCarousel .rightLst.over {
        pointer-events: none;
        background: #ccc;
        }
        /*  */
        #certiBox {
        display: flex;
        justify-content: space-evenly;
        margin: 4%;
        }
        .certificate {
        flex-basis: 32%;
        display: flex;
        }

        /*  */
        #treeBox {
        background-image: url(https://mamaearthp.imgix.net/wysiwyg/desktop_home_img.png?auto=format);
        background-size: cover;
        height: 350px;
        }
        .contentTree {
        margin-left: 28%;
        padding-top: 5%;
        }

        .testingEarth {
        margin: 5%;
        } */

        #CONTAINER{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        width: 60%;

        }
        #cartimage{
        height: 300px;
        width:100px
        }
        /* nav bars */
        .maindiv{
        /* margin: 20px; */
        width: 100%;
        }
        .nav{
        display: flex;
        background-color: brown;
        color: white;
        height: 20px;
        /* padding-top: 20px; */
        /* font: size 20px;; */
        text-align: center;
        padding-bottom: 20px;
        /* margin-bottom: 10px; */

        }
        #navIcon{
            margin-left:200px;
            /* margin-top: 3px; */
            margin-bottom: 3px;
            text-align: right;
            padding-left: 100px;
        }
        #mypic{
        width: 100%;
        }
        .left{
        padding-right: 10px;
        padding-left: 20px;
        
        /* font-size:20px ; */
        /* padding-bottom: 50px; */

        }
        #firstlink{
            color: white;
            padding-left: 30px;
        }
        #secondlink{
            color: white;
            padding-left: 50px;
        }
       #thirdlink{
           color: white;
           padding-bottom: 2px;
       }
        .middle{
        padding-left: 20px;
        /* font-size:20px ; */

        }
        .nav1{
        display: flex;
        height: 60px;
        width:100%;
        justify-content: space-between;


        }
        .cartlogin{
        display: flex;
        justify-content: space-between;

        }
        .search{
        display: flex;
        color: black;
        height: 50px;
        /* padding-left: 10px; */
        margin-top: 30px;  

        }
        #length{
        width: 500px;
        font-size: 20px;
        /* padding-right: 10px; */
        }
        .search1{
        background-color: #0aa7e3 ;
        color: white;
        font-size: 20px;
        /* width: 100px; */
        }

        .nav2{
        display: flex;
        /* border: red solid 1px; */
        height: 60px;
        margin-top: 30px;
        gap: 20px;
        padding-top: 20px;
        font-size: 20px;
        padding-left: 30px;
        /* justify-content: space-between; */
        width: 100%;

        }
        .img1{
        width: 100px;

        }
        .image{
        margin-top: 30px;
        /* width:auto; */
        /* text-align: center; */
        /* width: 100%; */

        }
        .image1{
        display: flex;
        width: 80%;

        }
        .footer1{
        display: grid;
        }
        .cart,.login{
        font-size: 30px;
        margin-top: 30px;
        padding-right: 20px;
        }

        /* youtube video styles */

        #contentBoxes{
            height: 700px;
            width: 80%;
            border: 2px solid green;
            margin-left: 30px;
            margin: auto;
        }